amqp==1.4.9
anyjson==0.3.3
APScheduler==3.5.1
billiard==3.3.0.23
celery==3.1.26.post2
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11
django-apscheduler==0.2.11
django-compat==1.0.15
django-heroku==0.3.1
django-toolbelt==0.0.1
django-widget-tweaks==1.4.2
gunicorn==19.8.1
kombu==3.0.37
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.4
six==1.11.0
static3==0.7.0
tzlocal==1.5.1
vine==1.1.4
whitenoise==3.3.1
