{% extends 'base.html' %}

{% block title %} 庫存大師 - 變更帳號資訊 {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboardIndex' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'userDetail' %}">帳號管理</a>
        </li>
        <li class="breadcrumb-item">
          變更帳號資訊
        </li>
      </ol>

<div class="card mt-5">

      <div class="card-header">變更帳號資訊</div>
      <div class="card-body">
        <form method="post" action="{% url 'updateUser' %}">

        {% csrf_token %}
        {% include 'message_view.html' %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-12">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                  </div>
                </div>
            </div>
        {% endfor %}
          <button type="submit" class="btn btn-primary btn-block">確定</button>
        </form><br>
        <div class="text-center">
          <a class="btn btn-danger btn-block" href="{% url 'userDetail' %}">取消</a>
{#          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>#}
        </div>
      </div>
    </from>
    </div>

{% endblock %}