{% extends 'dark.html' %}

{% block title %} 庫存大師 - 忘記密碼 {% endblock %}
{% block body %}
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">忘記密碼 </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="請輸入Email">
          </div>
          <a class="btn btn-primary btn-block" href="index.html">確定</a>
        </form>
      </div>
    </div>
{% endblock %}