{% extends 'dark.html' %}

{% block title %} 庫存大師 - 重置密碼 {% endblock %}
{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5" style="color:white;">庫存大師</h1>
   </div>
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">重置密碼</div>
      <div class="card-body">
        <form action="{% url 'userSetNewPassword' %}" method="post">
            {% csrf_token %}
          <input type="hidden" name="id" value="{{ user.pk }}" />
          <div class="form-group">
            <label for="password">新密碼</label>
            <input class="form-control" id="password" name="password" type="password" aria-describedby="請輸入新密碼" placeholder="請輸入新密碼">
          </div>
          <div class="form-group">
            <label for="checkPassword">確認新密碼</label>
            <input class="form-control" id="checkPassword" name="checkPassword" type="password" placeholder="請輸入新密碼">
          </div>
          <button class="btn btn-primary btn-block" type="submit">確定</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'login' %}">登入</a>
        </div>
      </div>
    </div>
{% endblock %}