{% extends 'base.html' %}

{% block title %} 庫存大師 - 密碼變更 {% endblock %}
{% block body %}

<div class="card card-register mx-auto mt-5">

      <div class="card-header">密碼變更</div>
      <div class="card-body">
        <form method="post" action="{% url 'updatePassword' %}">

        {% csrf_token %}
        {% include 'message_view.html' %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-12">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                  </div>
                </div>
            </div>
        {% endfor %}

          <button type="submit" class="btn btn-primary btn-block">確認</button>
        </form><br>
        <div class="text-center">
          <a class="btn btn-danger btn-block" href="{% url 'userDetail' %}">取消</a>
        </div>
      </div>
    </from>
    </div>

{% endblock %}