{% extends 'base.html' %}

{% block title %} 庫存大師 - 更新庫存 {% endblock %}

{% block body %}
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboardIndex' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'listStore' %}">商店列表</a>
        </li>
          <li class="breadcrumb-item">
          <a href="{% url 'listProduct' storeId=inventory.store.id %}">產品列表</a>
        </li>
        <li class="breadcrumb-item active">更新庫存</li>
      </ol>

{% include 'message_view.html' %}

<div class="card card-register mx-auto mt-5">

      <div class="card-header">更新庫存</div>
      <div class="card-body">
        <p class="card-text">
            商店名稱: {{ inventory.store.name }}
        </p>
        <p class="card-text">
            產品類別: {{ inventory.product.category.name }}
        </p>
        <p class="card-text">
            產品名稱: {{ inventory.product.name }}
        </p>
        <p class="card-text">
            目前庫存: {{ inventory.amount }}
        </p>
        <form method="post" action="{% url 'updateInventory' inventory_id=inventory.id %}">

        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-12">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                  </div>
                </div>
            </div>
        {% endfor %}
            <a class="btn btn-danger btn-block" class="btn btn-danger btn-block" href="{% url 'inventoryDetail' productId=inventory.product.id %}">取消</a>
            <button type="submit" class="btn btn-primary btn-block">確定</button>
        </form>

      </div>
    </from>
    </div>
{% endblock %}