{% extends 'base.html' %}

{% block title %} 庫存大師 - 商店列表 {% endblock %}
{% block header %}



{% endblock %}
{% block body %}
<div class="card mb-3">
        <h5 class="card-header">
          商店列表  <a class="btn btn-danger" href="{% url 'createStore' %}">新增商店</a>
        </h5>

        <div class="card-body">
          <div class="table-responsive">

              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                    <th>刪除</th>
                    <th>商店名稱</th>
                    <th>商店電話</th>
                    <th>商店地址</th>
                    <th>商店代碼</th>
                    <th>更新</th>
                    <th>產品列表</th>
                </tr>
              </thead>

              <tbody>

              {% for s in stores %}
                  <tr>
                    <th><a class="btn btn-danger " href="{% url 'deleteStore' storeId=s.id %}">刪除</a></th>
                    <th>{{ s.name }}</th>
                    <th>{{ s.phone }}</th>
                    <th>{{ s.address }}</th>
                    <th>{{ s.store_code }}</th>
                    <th><a class="btn btn-success" href="{% url 'updateStore' storeId=s.id%}">更新</a></th>
                    <th><a class="btn btn-info" href="{% url 'listProduct' storeId=s.id%}">產品列表</a></th>
                  </tr>
              {% empty %}
                  <tr><th colspan="7">沒有商店資料</th></tr>
              {% endfor %}

              </tbody>
            </table>

          </div>
        </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}