{% extends 'dark.html' %}

{% block title %} 庫存大師 - 加入商店 {% endblock %}

{% block body %}

<div class="card card-register mx-auto mt-5">

      <div class="card-header">加入商店</div>
      <div class="card-body">
        <form method="post" action="{% url 'joinStore' %}">

        {% csrf_token %}
            {% include 'message_view.html' %}
            <p>請您填寫欲加入的商店驗證碼</p>

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-12">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                  </div>
                </div>
            </div>
        {% endfor %}

            <a class="btn btn-danger btn-block" href="{% url 'listStore' %}">取消</a>
            <button type="submit" class="btn btn-primary btn-block">加入</button>
        </form>
      </div>
    </from>
    </div>
{% endblock %}