{% extends 'base.html' %}

{% block title %} 庫存大師 - Dashboard {% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          Dashboard
        </li>
    </ol>

    <h4>低於安全庫存列表</h4>

    {% for store_inventory in less_safety_inventories %}
    <div class="card">
        <h5 class="card-header">{{ store_inventory.store.name}}  <a class="btn btn-danger" href="{% url 'listProduct' storeId=store_inventory.store.id %}">管理商店</a>

        </h5>

        <div class="card-body">
          <div class="table-responsive">

              <table class="table table-bordered dataTable" id="inventoryTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                    <th rowspan="1" colspan="1">產品名稱</th>
                    <th rowspan="1" colspan="1">安全庫存</th>
                    <th rowspan="1" colspan="1">目前庫存</th>
                    <th rowspan="1" colspan="1">維護庫存</th>
                </tr>
              </thead>
              <tbody>

              {% for i in store_inventory.inventories %}
                <tr>
                  <th> {{ i.product.name }}</th>
                  <th> {{ i.safety_inventory_amount }}</th>
                  <th> {{ i.amount }}</th>
                  <th> <a href="{% url 'inventoryDetail' productId=i.product.id %}" class="btn btn-success">管理庫存</a></th>
                </tr>
              {% empty %}
                  <tr><td colspan="5">此商店庫存皆正常</td></tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div><br><br>
    {% endfor %}
{#    <a class="btn btn-info" href="{% url 'listStore' %}">回商店列表</a>#}
{% endblock %}